@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --off-black: #242424;
  --gray-text: #CCCCCC;
  font-family: Poppins;
}

body {
  margin: 0;
}

.center {
  margin-left: 50vw;
  margin-top: 50vh;
  transform: translate(-50%, -50%);
  text-align: center;
}

.login-btn {
  cursor: pointer;
  background-color: green;
  color: white;
  font-size: 18px;
  height: 80px;
  width: 300px;
  outline: none;
  border: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.login-btn:hover {
  background-color: darkgreen;
}

.player {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.progress-zone {
  flex: 1;
  width: 100%;
  position: relative;
  cursor: col-resize;
  background-color: white;
  overflow-x: hidden;
}

.timestamp {
  position: absolute;
  top: 10px;
  transition: all;

  -webkit-transform: translateZ(0); /* for weird opacity anim bug */
}

.mouse-timestamp {
  transition: opacity 200ms, top 100ms;
  font-size: 14px;
}

.progress {
  height: 100%;
  background-color: var(--off-black);
  transition: all;
  
  filter: invert(1);
  mix-blend-mode: difference;
}

.scrubber {
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: var(--off-black);
}

.prev-pos-text {
  width: 150px;
  transform: translateX(-50%);
  text-align: center;
  top: 50px;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
}

.bottom-bar {
  background-color: var(--off-black);
  color: white;
  bottom: 0px;
  height: 125px;
  width: 100%;
  box-sizing: border-box;
  padding: 26px;
}

.bottom-bar-content {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
}

.song-details-wrapper {
  height: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
}

.album-cover {
  height: 100%;
}

.song-details {
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.song-name {
  font-size: 16px;
}

.song-artist {
  color: var(--gray-text);
  font-size: 12px;
}

.controls {
  position: absolute;
  display: flex;
  gap: 40px;
  left: 50%;
  transform: translateX(-50%)
}

.control-btn {
  cursor: pointer;
  transition-property: all;
  transition-duration: 100ms;
}

.control-btn:hover {
  transform: scale(1.08);
}

.skip-btn {
  position: relative;
  height: 40px;
  cursor: pointer;
}

.skip-arrow {
  transition-property: all;
  transition-duration: 100ms;
}

.skip-btn:hover .skip-arrow {
  transform: scale(1.08);
}

.skip-btn-num {
  position: absolute;
  left: 51%;
  top: 54%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 10px;
}

.skip-btn-num::after {
  content: "s"
}

.options {
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: var(--gray-text);
}

.options-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
}

input {
  outline: none;
  border: none;
  font: inherit;
  color: var(--off-black);
  text-align: center;
  border-radius: 10px;
  background-color: white;
  width: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width: 850px) {
  .control-btn {
    width: 30px;
  }

  .skip-btn {
    scale: 75%;
  }

  .controls {
    gap: 20px;
  }

  .song-details-wrapper {
    height: 75%;
  }

  .song-name {
    font-size: 12px;
  }
  .song-artist {
    font-size: 9px;
  }

  .options-item {
    font-size: 12px;
  }
  input {
    width: 30px;
  }
}