body {
  --off-black: #242424;
  margin: 0;
  padding: 0;
  height: 100%;
}

.bottom-bar {
  background-color: var(--off-black);
  position: absolute;
  bottom: 0px;
  height: 18vh;
  width: 100%;
  padding: 0 12px;
}

.relative {
  position: relative;
  height: 100%;
}

.song-details {
  height: 100%;
}

.album-cover {
  height: 100%;
}